@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    font-family: "Lato";
}
.hero{
    background:url('../src/assets/Hero.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 485px;
}
h1{
    font-size:48px;
    font-weight:700px;
    
}

h2{
    font-size: 32px;
    font-weight: 600px;
}
.btn-danger{
    background: #E71800 !important;
}

.bg-red{
    background-color:#E71800;
    width: 180px;
    height: 6px;
    border-radius: 8px;
}

.text-danger{
    color:#E71800 !important;
}

.bg-cover{
    background: url('../src/assets/Cover.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 191px;

}
